.neon-btn {
font-size: 14px;
padding: 10px 20px;
border: 2px solid #007BFF;
color: #000;
text-transform: capitalize;
background: transparent;
cursor: pointer;
position: relative;
transition: 0.3s ease-in-out;
box-shadow: 0 0 10px #007BFF, 0 0 20px #007BFF;
border-radius: 20px;
}
.neon-btn:hover {
color: #000;
background: #007BFF;
box-shadow: 0 0 20px #007BFF, 0 0 40px #007BFF;
}